.masterpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.masterpage #logo {
  height: 40px;
}

.masterpage .nav ul {
  list-style-type: none;
}

.masterpage .nav ul li {
  margin-left: 10px;
  text-align: right;
}

.masterpage .nav ul li:first-child {
  margin: 0;
}

.masterpage .nav ul li a {
  text-decoration: none;
  color: #000;
}

.masterpage .nav #menu {
  width: 32px;
}

@media (min-width: 900px) {
  .masterpage .nav ul {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .masterpage {
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 0 50px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
  .masterpage #logo {
    margin-bottom: 20px;
  }
  
  .masterpage .nav ul {
    display: none;
  }

}
